<div id="main" class="cf">
    <div class="spr page-top-shadow"></div>
    <div id="article" class="article cf">
        <div class="afigure afigure-hd afigure-main cf">
            <div class="afigure-pic">
                {{! TODO: Move images to the new domain? }}
                <img src="http://www.drive.ru/images/pics/404.jpg" width="920" height="516">
                <div class="spr"></div>
            </div>
            <div class="afigure-title">
                <h1 class="header-special">Error 404 — Страница не найдена</h1>
                <div class="meta meta-strong">
                    Я поручил нашим парням проверить все битые ссылки и несуществующие страницы.<br>
                    Они проверили и сказали, что с ними всё в порядке.
                </div>
            </div>
        </div>
    </div>
</div>