<div id="topnav-misc" class="topnav-misc" style="display: none;">
    <span data-action="topnav.close">
        {{> sprite spriteClass=arr}}
    </span>
    <ul>
        <li><a href="/kunst">Kunst!</a></li>
        <li><a href="/russia">Наши дороги</a></li>
        <li><a href="/autosport">Автоспорт</a></li>
        <li><a href="/spy">Шпионерия</a></li>
        <li><a href="/business">Автомобизнес</a></li>
        <li><a href="/technic">Техника</a></li>
        <li><a href="/talks">Гостиная</a></li>
        <li><a href="/columns">Авторские колонки</a></li>
    </ul>
    {{> sprite}}
</div>