<div class="testdrives-nav">
    <select onchange="document.location.href=this.options[this.selectedIndex].value">
        <option value="/drive-tests/">Все марки</option>
        {{options brands active "/brands/{{ id }}/drive-tests/"}}
    </select>
</div>