<a class="car-icon" href="{{url}}">
    <span class="car-icon-image">
        <img src="{{imageUrl}}" width="{{imageWidth}}" height="{{imageHeight}}">
    </span>
    <strong class="car-icon-caption"></strong>
</a>