<div id="compare-sideblock" class="compare-sideblock" data-namespace="compare" style="visibility: hidden;">
    <div class="compare-sideblock-close"></div>
    <div class="compare-sideblock-title" data-action="show"><div class="compare-sideblock-open"></div><span>Сравнение</span></div>
    <form action="/compare/" id="compare-sideblock-form" target="_blank" data-action="submit:default">
        <h3>Сравнение комплектаций</h3>
        <ul class="compare-sideblock-list"></ul>
        <div class="compare-sideblock-rmbtn"><span data-action="removech">Убрать все</span></div>
        <div class="compare-sideblock-btn"><button type="submit" class="sbutton">Показать в таблице</button></div>
        <input type="hidden" name="ids" class="compare-sideblock-ids" value="">
    </form>
</div>
<script>new drv.Compare;</script>