<div class="company-list-cards company-list-cards-2col">
    {{! /items/companies?brand={brandName}&city={cityId} }}
    {{{dealersItems}}}
    <div>
        <a href="/companies/{{brand.id}}/?city={{city.id}}"><b>Посмотреть {{totalCompaniesCount}} компаний</b></a>
    </div>
</div>