<div class="company-list-cards company-list-cards-2col">
    {{! List of paid companies }}
    {{{dealersItems}}}
    <div>
        <a href="/companies/{{brand.id}}/?city={{city.id}}"><b>Посмотреть {{companiesCount}}</b></a>
    </div>
</div>