<div class="page-footer">
    <div class="spr footer-spacer-mobile"></div>
    <span class="footer-copyright">© 2005–{{currentDate}} ООО «Драйв», свидетельство о регистрации СМИ №ФС77-27653&nbsp;&nbsp;&nbsp;16+</span><br>
    <div class="viewport-switcher" data-viewport="desktop" id="mobile-switcher">Полная версия сайта</div>
    <div class="noprint footer-navigation">
        <ul>
            <li><a href="/about">О Драйве</a></li>
            <li><a href="/ad">Размещение рекламы</a></li>
            <li><a href="/d2b">Драйв для бизнеса</a></li>
            <li><a href="/rewrite">Перепечатка материалов</a></li>
            <li><a href="/moderation">Политика модерации</a></li>
            <li><a href="/feedback">Обратная связь</a></li>
            <li><a href="#" data-viewport="mobile" id="desktop-switcher" class="viewport-switcher">Мобильная версия</a></li>
        </ul>
        Читайте ДРАЙВ в <a href="http://eepurl.com/bPK1R9" onclick="window.open('http://eepurl.com/bPK1R9', 'popupwindow', 'scrollbars=yes,width=550,height=520');return false">почте</a>, <a href=/export/rss.xml>через RSS</a>,
        <a href="https://www.facebook.com/drive.ru">в Фейсбуке</a>, <a href="https://twitter.com/DriveRussia/">в Твиттере</a>, <a href="https://plus.google.com/+DriveRussia" rel="publisher">в Google+</a> или <a href=https://www.yandex.ru/?add=12217>в Яндексе</a>.
        {{! TODO: page-footer-totop }}
    </div>
</div>