{{! shadowClass: ncard-shr, ncard-shl }}
<a class="news-item ncard {{shadowClass}}" href="{{url}}">
    <div class="news-item-link">
        <img class="news-item-link__image" src="{{imageUrl}}" width="230" height="130">
    </div>
    {{> sprite}}
    <div class="news-item-caption">
        <strong class="news-item-caption__text">{{{caption}}}</strong>
        {{> ins}}
    </div>
</a>