<div class="nav-mobile">
    <div class="nav-mobile-content">
        <ul class="nav-mobile-section">
            <li class="nav-mobile-item">
                <a class="nav-mobile-item__link" href="/news">Новости</a>
            </li>
            <li class="nav-mobile-item">
                <a class="nav-mobile-item__link" href="/drive-tests">Наши тест-драйвы</a>
            </li>
            <li class="nav-mobile-item">
                <a class="nav-mobile-item__link" href="/video">Наши видео</a>
            </li>
        </ul>
        {{! /static/brands }}
        {{{mobileBrandsList}}}
    </div>
</div>