<div id="nav">
    <ul class="spr nav-menu">
        {{! class: active }}
        <li><a href="/drive-tests">Наши<br> тест-драйвы</a></li>
        <li><a href="/companies">Каталог<br> компаний</a></li>
        <li><a href="/video">Наши<br> видео</a></li>
        <li><a href="/talk">Форумы<br> и комментарии</a></li>
        <li><a href="//www.drive2.ru">Сообщество<br>DRIVE2</a></li>
        <li class="nav-arr" data-action="topnav.misc" style="margin-right: -10px;">
            <span>
                {{> sprite spriteClass=arr}}
            </span>
        </li>
    </ul>
</div>