<div class="c-social-share desktop-hidden">
    <div class="js-social-share-list" style="display: none;">
        <button class="c-social-share__item c-social-share__item--telegram" data-action="socialshare.share" data-target="telegram"></button>
        <button class="c-social-share__item c-social-share__item--fb" data-action="socialshare.share" data-target="fb"></button>
        <button class="c-social-share__item c-social-share__item--ok" data-action="socialshare.share" data-target="ok"></button>
        <button class="c-social-share__item c-social-share__item--vk" data-action="socialshare.share" data-target="vk"></button>
        <button class="c-social-share__item c-social-share__item--viber" data-action="socialshare.share" data-target="viber"></button>
        <button class="c-social-share__item c-social-share__item--whatsapp" data-action="socialshare.share" data-target="whatsapp"></button>
    </div>
    <button class="c-social-share__item c-social-share__item--share" data-action="socialshare.toggle"></button>
</div>