<? if (!count($drives)) { ?>
<span class="vgr ncard-big ncard-stub"><strong>Скоро здесь будет<br>новый тест-драйв</strong></span>
<? } elseif ($even == 1) { ?>
<span class="vgr ncard-stub"><strong>Скоро здесь будет<br>новый тест-драйв</strong></span>
<? } ?>