<div id="top">
    {{{receptionButtons}}}

    <script>drv.loginInit();</script>

    {{! /content/special }}
    {{{specialTitleData}}}

    <form id="site-search" action="/sitesearch/">
        <input type="text" name="q"><button class="i" type="submit">Найти</button>
        <input type="hidden" name="cx" value="009724753791916455779:ldzabcymo5c">
        <input type="hidden" name="ie" value="UTF-8">
    </form>
</div>