<a href="{{url}}" class="vidcard">
    <span class="thumb">
        <img class="thumb__image" src="{{imageUrl}}" width="236" alt="">
        {{> sprite}}
    </span>
    {{> sprite spriteClass=ii}}
    <strong class="vidcard-caption">{{{caption}}}</strong>
</a>