/**
 * Mobile reset
 *
 * Hide mobile specific controls for desktop browsers
 */

#mobile-switcher,
.article-header-mobile,
.brand-header-mobile,
.car-relatednews-header-mobile,
.nav-mobile,
.nav-mobile-trigger,
.nav-mobile-trigger-label,
.photo-slider,
.expand-mobile-trigger,
.expand-mobile-trigger-label,
.dv-mobile-row {
    display: none;
}

/* Hide mobile specific block */
.desktop-hidden {
    display: none;
}

@media screen and (min-device-width: 801px) {
    #desktop-switcher {
        display: none;
    }
}
