/**
 * Side teaser block
 */

@media screen and (max-width: 800px) {
    .side-dv-lnk {
        /* Teasers fix (!important) */
        display: none !important;
    }

    .side-dv {
        float: none;
        width: auto;
        top: 0;
        margin: 0 0 24px;
        padding: 0;
    }

    #side-dv {
        display: flex;
        flex-direction: row;
    }

    .dd-pic,
    .dd-caption {
        display: flex;
    }

    .dd-block {
        display: flex;
        flex-direction: column;
        flex: 50%;
        /* Android 4.2 fix */
        width: 50%;
        margin: 0;
        flex-grow: 0;
    }

    .dd-caption {
        background: linear-gradient(#fff, #f0f0f0);
        padding: 0;
        flex: 1;
    }
        .dd-caption a {
            background: none;
        }

    .dd-pic a {
        width: auto;
        height: auto;
    }

    .dd-pic img {
        max-width: 100%;
        height: auto;
        float: none;
    }

    #brand-side-dv,
    #side-dv {
        /* Temp teasers remove for mobile */
        display: none;
    }
}

@media screen and (min-width: 460px) and (max-width: 800px) {
    #side-dv {
        flex-direction: column;
        margin-bottom: 24px;
        /* iOS flex fix */
        min-height: 134px;
    }

    .side-dv_non-flipping {
        display: none;
    }

    .dd-block {
        flex-direction: row;
        width: 100%;
        flex: 100%;
    }

    .dd-caption {
        display: flex;
    }

    .dd-pic a {
        width: 115px;
        height: 67px;
    }

    #brand-side-dv,
    #side-dv {
        /* Temp teasers remove for mobile */
        display: none;
    }
}
