<div id="side-dv"></div>
<div class="side-dv-lnk js-dv-lnk" style="display: none;"><a href="/ad#teasers">Разместите здесь своё объявление<br> с оплатой за клик</a></div>
<script type="text/javascript">
    var _ddq = _ddq || [];
    _ddq.push(["target", "side-dv"]);
    _ddq.push(["c", ""]);
    _ddq.push(["co", ""]);
    _ddq.push(["pp", ""]);
    _ddq.push(["ppk", "{{brand}}"]);
    _ddq.push(["f", "1"]);
    _ddq.push(["af", "af.d1b"]);
    (function () {
        var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
        d.src = '//d.drive.ru/z/c.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(d, s);
    })();
</script>